@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="row fadeIn animated" style="margin-bottom:300px;">

	<div class="col-md-6">

		<img src="~/assets/images/about-us.jpg" alt="" class="img-responsive">

	</div>

	<div class="col-md-6">

		<h2 class="title-style-2" style="margin-top:25px;margin-bottom:25px;text-decoration:underline;color:dodgerblue;">ABOUT IIETA <span class="title-under"></span></h2>

		<p style="margin-top:25px;margin-bottom:25px;color:dodgerblue;">
			The International Institute of Engineering and Technology Advancement (IIETA) stands as a beacon of compassion and progress, operating as a charitable company dedicated to a multifaceted mission. Rooted in a commitment to human rights, IIETA actively engages in combating ignorance and fostering education as transformative tools for empowerment. By championing the cause of education, the institute seeks to break the shackles of poverty and promote a more equitable society.

			IIETA's initiatives extend beyond the realm of academia to address pressing humanitarian concerns. A fundamental aspect of their work involves the provision of sustenance to the impoverished, recognizing that battling hunger is a crucial step towards uplifting communities. The institute understands that education and nourishment are intertwined elements in the pursuit of a brighter future.

			As a tireless advocate for human rights, IIETA works to create awareness and effect positive change, emphasizing the dignity and equality inherent to all individuals. By integrating these principles into their charitable endeavors, the organization actively contributes to building a world where knowledge, compassion, and justice prevail. Through their holistic approach, IIETA exemplifies the transformative potential when education, human rights, and humanitarian efforts converge in a shared commitment to bettering the human condition.
		</p>

	</div>

</div>





<!-- /.row -->
<div class="our-team animate-onscroll fadeIn">

	<div class="container">

		<h2 class="title-style-1" style="margin-top:25px;margin-bottom:25px;text-decoration:underline;color:dodgerblue;">Our Team <span class="title-under"></span></h2>

		<div class="row">

			<div class="col-md-3 col-sm-6">

				<div class="team-member">

					<div class="thumnail">

						<img src="~/assets/images/team/member-1.jpg" alt="" class="cause-img">

					</div>



					<h4 class="member-name"><a href="#">Robert C. Numbers</a></h4>

					<div class="member-position">
						CO-FOUNDER
					</div>

					<div class="btn-holder">

						<a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-google"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

					</div>



				</div> <!-- /.team-member -->

			</div>

			<div class="col-md-3 col-sm-6">

				<div class="team-member">

					<div class="thumnail">

						<img src="~/assets/images/team/member-3.jpg" alt="" class="cause-img">

					</div>



					<h4 class="member-name"><a href="#">Marjorie R. Echevarria</a></h4>

					<div class="member-position">
						CO-FOUNDER
					</div>

					<div class="btn-holder">

						<a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-google"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

					</div>



				</div> <!-- /.team-member -->

			</div>


			<div class="col-md-3 col-sm-6">

				<div class="team-member">

					<div class="thumnail">

						<img src="~/assets/images/team/member-4.jpg" alt="" class="cause-img">

					</div>



					<h4 class="member-name"><a href="#">Allison J. Falls</a></h4>

					<div class="member-position">
						CO-FOUNDER
					</div>

					<div class="btn-holder">

						<a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-google"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

					</div>



				</div> <!-- /.team-member -->

			</div>


			<div class="col-md-3 col-sm-6">

				<div class="team-member">

					<div class="thumnail">

						<img src="~/assets/images/team/member-2.jpg" alt="" class="cause-img">

					</div>



					<h4 class="member-name"><a href="#">Bryan B. Stevens</a></h4>

					<div class="member-position">
						CO-FOUNDER
					</div>

					<div class="btn-holder" style="margin-bottom:100px;">

						<a href="#" class="btn"> <i class="fa fa-envelope"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-facebook"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-google"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-twitter"></i> </a>
						<a href="#" class="btn"> <i class="fa fa-linkedin"></i> </a>

					</div>



				</div> <!-- /.team-member -->

			</div>

		</div> <!-- /.row -->

	</div>

</div>

